@model IEnumerable<Scrubs.Domain.Entity.User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var user in Model) {
    <p>@user.Id</p>
    <p>@user.Role</p>
    <p>@user.FullName</p>
    <p>@user.PhoneNumber</p>
}